<%= form_with(model: comment, local: true) do |form| %>

  <div class="field">
      <p><strong>Post</strong> <br> <%= @post.title %></p>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
