<%= form_with(model: comment, local: true) do |form| %>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.collection_select :post_id, Post.order(:id), :id, :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
