<div class="sign-in-form">

<h1 class="typewriter">Hi! I'm Rez..</h1>

<div class="sign-in-box">

<h2>Login</h2>

<h2><%= flash[:error] %></h2>

<%= form_tag login_path do %>
<div>
  <%= label_tag :email %>
</div>

  <%= email_field_tag :email, nil, :placeholder => 'glhf@ga.co', :class => 'input-fields' %>

<div>
  <%= label_tag :password %>
</div>

<div>
  <%= password_field_tag :password, nil, :class => 'input-fields' %>
</div>

<small id="sign-up-text">
    Don't have an account? <%= link_to 'Sign up here!', new_user_path %>
</small>

<br>
<br>
<br>

<%= submit_tag "Log in", :class => 'chatbot-btn' %>

<% end %>
</div>
</div>
