<div class="sign-in-form">

<h1>Hi! I'm Rez..</h1>
<h2>Login</h2>

<h2><%= flash[:error] %></h2>

<%= form_tag login_path do %>
<div>
  <%= label_tag :email %>
</div>

  <%= email_field_tag :email, nil, :class => 'input-box', :placeholder => 'glhf@ga.co'%>

<div>
  <%= label_tag :password %>
</div>

<div>
  <%= password_field_tag :password, nil %>
</div>

<small>
    Don't have an account? <%= link_to 'Sign up here!', new_user_path %>
</small>

<br>
<br>
<br>

</div>

<%= submit_tag "Log in", :class => 'chatbot-btn' %>

<% end %>
