<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<% if @user.image.present? %>
<p>
  <strong>Image:</strong>
  <%= cl_image_tag @user.image, :alt => @user.first_name %>
</p>
<% end %>

<% if @user.bio.present? %>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<% end %>

<% if @current_user.present? && @current_user.admin? %>
<p>
  <strong>Admin:</strong>

  <% if @user.admin? %>
    <td><%= "Yes" %></td>
  <% else %>
    <td><%= "No" %></td>
  <% end %>

</p>

<% end %>

<%= link_to 'Edit', edit_user_path(@user), :class => "chatbot-btn" %> 
<%= link_to 'Back', posts_path, :class => "chatbot-btn" %>
