<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= render 'posts/nav' %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>Comments</th>
      <th>Category</th>
      <th>Public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>

        <% if post.published? %>

        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user.first_name %></td>
        <td><%= post.comments.count %></td>
        <td><%= post.category.name %></td>
        <td><%= post.published %></td>

        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

        <% end %>
        <% end %>

      <% @unpublished_posts.each do |p| %>
        <% if @current_user.id == p.user_id %>
      <tr>
        <td><%= p.title %></td>
        <td><%= p.content %></td>
        <td><%= p.user.first_name %></td>
        <td><%= p.comments.count %></td>
        <td><%= p.category.name %></td>
        <td><%= p.published %></td>

        <td><%= link_to 'Show', p %></td>
        <td><%= link_to 'Edit', edit_post_path(p) %></td>
        <td><%= link_to 'Delete', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

        <% end %>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
