<!DOCTYPE html>
<html>
  <head>
    <title>Rez</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>

      <% if @current_user.present? %>

        <%= link_to "Chatbot", pages_home_path %>

        <%= link_to "Profile", @current_user %>

        <%= link_to "Create Post", new_post_path %>

        <%= link_to "Public Posts", posts_path %>

        <% if @current_user.present? && @current_user.admin? %>

          <%= link_to "Categories", categories_path %>

        <% end %>

        <%= link_to "Sign Out #{ @current_user.first_name }", login_path, :method => 'delete' %>
        
      <% end %>

    </nav>

    <%= yield %>
  </body>
</html>
